@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts example */
@font-face {
	font-family: "Poppins";
	src: url("/font/Poppins-Bold.ttf");
	font-weight: 700;
}

html,
body {
	@apply bg-brand-background;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
	body {
		@apply bg-brand-stone text-brand-charcoal font-sans;
	}
}
